<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sistema de Cadastro</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid d-flex align-items-center justify-content-center min-vh-100 p-3">
    <div class="main-container">
      <ul class="nav nav-tabs" id="authTabs" role="tablist">
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link active w-100" id="login-tab" data-bs-toggle="tab" data-bs-target="#login-pane"
            type="button" role="tab" aria-controls="login-pane" aria-selected="true">Login</button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="sign-up-tab" data-bs-toggle="tab" data-bs-target="#sign-up-pane"
            type="button" role="tab" aria-controls="sign-up-pane" aria-selected="false">Criar conta</button>
        </li>
      </ul>

      <div class="tab-content" id="authTabContent">
        <%- include('partials/login-form') %>
          <%- include('partials/sign-up-form') %>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

  <script src="/javascripts/script.js"></script>

</body>

</html>